$govuk-assets-path: "/disclose-cross-border-arrangements/upload/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/disclose-cross-border-arrangements/upload/assets/lib/hmrc-frontend/hmrc/assets";
@import "partials/spinner";

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}
.code--slim {
    border: 1px solid #DFE0E7;
    border-radius: 4px;
    padding: 2px 4px;
    display: inline-block;
    background-color: #F7F7F7;
    line-height: 1.1em;
    font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    color: #0b0c0c;
    font-size: 14px;
    }

.data-errors-table .govuk-table__cell--numeric{
    width: 5%;
}

.header1{
    width: 5%;
}

.no-border-bottom {
    border-bottom: 0 !important;
}

.govuk-summary-list__key {
    width: 40%;
}

.govuk-summary-list__value {
    width: 40%;
}

.govuk-summary-checking-file__key {
    width: 20% !important;
}
