$govuk-assets-path: "/disclose-cross-border-arrangements/upload/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/disclose-cross-border-arrangements/upload/assets/lib/hmrc-frontend/hmrc/assets";
@import "partials/spinner";

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}
